{% extends "layout.html.twig" %}
{% block content %}

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">

                <div class="blog-post">
                    <h2 class="blog-post-title">Есть чем похвастаться</h2>
                    <p class="blog-post-meta">{{ "now"|date("d.m.Y") }}</p>

                    <p>4 больших проекта. Три с нуля до коммерческой эксплуатации.</p>
                    <p>Много это или мало? Для программиста много, для руководителя мало. Хотелось бы расширить список.</p>
                    <hr>
                    <h3><a href="https://pegast.ru" target="_blank">Сайт Пегас Туристик</a></h3>
                    <p><a href="https://pegast.ru" target="_blank"><img src="https://pegast.ru/static/frontend/layout/images/logo.svg" /></a></p>
                    <p>На самом деле это конечно не просто сайт. Это с десяток подсистем, которые связаны разными API. В июле-августе на главной до 2х миллионов запросов в день. При этом "дергается" на главной 5 сторонних сервисов (умное кеширование), нагрузка распределяется на несколько инстансов, балансируется через nginx. БД в режиме master-slave.</p>
                    <p>Конечно я его сделал не сам. Это многолетняя работа команды. Хотя что-то писал и сам конечно. Но все сделано под моим руководством и спроектировано мной. И насколько мне известно - после моего ухода мои архитектурные решения никто не менял.</p>
                    <h3><a href="https://aviator.pegast.su" target="_blank">Сайт Авиатор</a></h3>
                    <p><a href="https://aviator.pegast.su" target="_blank"><img src="https://63900.selcdn.ru/iv/portfolio/aviator_main.png" /></a></p>
                    <p>Это сайт по продаже авиабилетов для турагентств.</p>
                    <p>Позволяет искать сразу в трех системах бронирования. Очень нетривиальная интеграция. В бекэнде полноценная учетная система. Запущен мной самостоятельно в коммерческую эксплуатацию. Потом дописывался под моим руководством силами 3х разработчиков. Это была моя первая большая успешная коммерческая web-разработка.</p>
                    <h3>Сайт мебельного магазина FABIOHOME </h3>
                    <h3>(уже не существует)</h3>
                    <p>Спроектирован и написан "с нуля" мной. Верстка и дизайн не мои, JS - частично. </p>
                    <p>Состоит из трех подсистем:</p>
                    <ul>
                        <li>фронт - stateless на PHP, максимально облегченная Symfony 3 с кешированием Mongo</li>
                        <li>бекэнд - PHP, Symfony 3, Postgres 9.6 - поддерживает создание и обслуживание нескольких фронтов с разным ассортиментом (деление по категориям, могут пересекаться)</li>
                        <li>хранилище картинок - максимально облегченная Symfony 3, Mysql, нарезка и выгрузка нужных форматов в CDN Selectel</li>
                    </ul>
                    <p>Главная задача, которая решалась - реализовать подключение новых интеграций поставщиков без участия программиста. В бекэнде есть мастер по подключению любых интеграций в формате xml, json, архивов c Excel-файлами. На данный момент подключено 20+ поставщиков. Без проблем грузится 200-мегабайтный xml - реализован SAX парсер.  Около 100K товаров обновляется примерно за 3 минуты. Активных товаров от 15000 до 25000 в зависимости от сезона. Поиск с фронта онлайн. Ощутимые задержки начинаются от 500К товаров в базе. Некоторые элементы поиска (товары со скидкой) реализованы в виде хранимых процедур. Использования регистровых таблиц удалось избежать.</p>
                    <h3>Сайт индивидуальных и авторских путешествий (в архиве, пандемия убила этот проект)</h3>
                    <p><a href="https://cotrip.ru" target="_blank"><img style="max-width: 100%;" src="https://63900.selcdn.ru/iv/portfolio/mainpic.jpg" /></a></p>
                    <p>Это мое хобби и неудавшийся бизнес. С 2010 года - три версии. Помаленьку жил своей жизнью.</p>
                    <p>Денег в этом сегменте нет.</p>
                    <p>Спроектирован и написан "с нуля" мной. Верстка и дизайн не мои, JS - частично. </p>
                    <p>Состоит из пяти подсистем:</p>
                    <ul>
                        <li>фронт - stateless на PHP, максимально облегченная Symfony 3 с кешированием Mongo, личный кабинет SPA на React</li>
                        <li>бекэнд - PHP, Symfony 3, Postgres 10 - поддерживает создание и обслуживание нескольких фронтов</li>
                        <li>хранилище картинок - максимально облегченная Symfony 3, Mysql, нарезка и выгрузка нужных форматов в CDN Selectel</li>
                        <li>гео-сервис на основе OpenStreetMap (база) и Google Maps (визуализация). Реализация - PHP (Symfony 4), Golang, Postgres, PostGIS - позволяет по координатам мероприятия получать географию по иерархии, рисовать границы географических объектов, сортировать по "ближайшим к".</li>
                        <li>Платежный сервис - Symfony 3, Postgres 10. Реализована интерация с Сбербанком, Модуль-банком, сервисом Монета, Модуль-Касса</li>
                    </ul>
                    <p></p>
                    <p><strong>И еще пару десятков сайтов и систем в разработке которых я как-то участвовал, которые либо неинтересны, либо под NDA</strong></p>
                    <p><strong>{{ "now"|date("d.m.Y") }}</strong></p>
                </div><!-- /.blog-post -->

                <nav class="blog-pagination">
                    <a class="btn btn-outline-primary" href="{{ path('index') }}">На главную</a>
                </nav>

            </div><!-- /.blog-main -->

            <aside class="col-md-4 blog-sidebar">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="font-italic">Коротко</h4>
                    <p class="mb-0">Наши дела говорят о нас лучше любых слов</p>
                    <p></p>
                    <p class="mb-0"><span class="badge badge-secondary">pegast.ru</span> Сайт крупнейшего туроператора в России и СНГ</p>
                    <p class="mb-0"><span class="badge badge-secondary">aviator.pegast.su</span> Сайт по продаже авиабилетов.</p>
                    <p class="mb-0"><span class="badge badge-secondary">fabiohome.ru</span> Мебельный магазин с нетривиальным бэкендом</p>
                    <p class="mb-0"><span class="badge badge-secondary">cotrip.ru</span> Сайт по индивидуальному туризму</p>
                </div>
                {% include('widgets/' ~  app.request.locale  ~ '/gihub.html.twig') %}
            </aside><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </main><!-- /.container -->

{% endblock %}