{% extends "layout.html.twig" %}
{% block content %}

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">

                <div class="blog-post">
                    <h2 class="blog-post-title">А теперь ближе к делу</h2>

                    <p>Рассматриваю возможность работы как руководителем так и простым разрабом. Но только удаленно.</p>
                    <hr>
                    <h3>PHP-разрабом удаленно - от 2500$ в месяц. Только в англоязычную компанию.</h3>
                    <p>Что получите: сотрудника, которому просто надо озвучить требования и получить оптимальный результат, которого не надо контролировать и обучать, который считает сроки максимум +/-10%, который "въедет" в ваш проект за два-три дня и начнет выдавать код. Который не бухает, не курит, следит за своим здоровьем и не "выгорает". Спокойно говорит о проблемах, не исчезает, всегда стремится к разумному компромиссу.</p>
                    <p>Лояльность непосредственному руководителю - я знаю, что такое субординация и проявлять свои навыки руководителя не буду без прямой просьбы. Со мной придется обговорить делали взаимодействия "на берегу", но далее договоренности я буду соблюдать неукоснительно. Мое слово стоит дорого.</p>
                    <hr>
                    <h3>Ведущим PHP-разрабом удаленно в рускоязычную компанию - от 3000$ в месяц.</h3>
                    <p>Что получите: то же, что и в предыдущем пункте</p>
                    <hr>
                    <h3>Тимлидом - от 3500$ в месяц.</h3>
                    <p>Что получаем: опытного сотрудника, который умеет наладить четкую работу команды с учетом особенностей проекта, руководства, сотрудников. Кадровый резерв на руководителя подразделения при необходимости</p>
                    <p>Что не получаем: любителя корпоративных интриг, вылизывателя соответствующих мест, "манипулятора" и держателя "в черном теле подчиненных" - если это активно практикуется в организации я сразу уйду, как только это пойму. Мой стиль руководителя среднего звена "Слуга царю, отец солдатам" - на большее расчитывать не стоит.</p>
                    <hr>
                    <h3>Руководителем разработки, тех.диром - от 5000$ в месяц.</h3>
                    <p>Что получаем: тоже самое, что и у тимлида + наличие удаленной команды 3-4 человек middle-уровня + админ экстра-класса, которую я могу собрать при необходимости достаточно быстро</p>

                    <p><strong>{{ "now"|date("d.m.Y") }}</strong></p>
                </div><!-- /.blog-post -->

                <nav class="blog-pagination">
                    <a class="btn btn-outline-primary" href="{{ path('index') }}">На главную</a>
                </nav>

            </div><!-- /.blog-main -->

        </div><!-- /.row -->

    </main><!-- /.container -->

{% endblock %}