{% extends "layout.html.twig" %}
{% block content %}

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">

                <div class="blog-post">
                    <h2 class="blog-post-title">Ящик с инструментами должен быть укомплектован всем необходимым</h2>

                    <h3 style="text-align: center;">Большими буквами</h3>
                    <h3 style="text-align: center;">(чтобы не было неоправданных ожиданий и разочарований)</h3>
                    <h3 style="text-align: center;">Я практически не умею писать без php.net, SO, symfony.com, dev.mysql.com, postgresql.org и других полезных ресурсов</h3>
                    <p>Но у меня достаточно проектов, написанных мной, где все работает с должной скоростью, легко поддерживается, расширяется и кастомизируется другими людьми.</p>
                    <p style="font-weight: bold;">Поэтому, если вы считаете, что такое безобразие недостойно звания программиста, который претендует на сеньора или тимлида или даже руководителя разработки - закройте этот сайт, отмените собеседование и дальше ищите подходящего вам человека. Я вам не подойду.</p>
                    <p style="font-weight: bold;">Особенно я не подойду тем, кто решил попросить писать код на собеседовании - для этого есть тестовое задание, которое можно и нужно потом обсудить.</p>
                    <p style="font-weight: bold;">Для тех, кто решился дать тестовое задание - оно должно быть интересным. По нему я оцениваю вас тоже. Делать очередной CRUD я точно не буду.</p>
                    <hr>
                    <p>Для тех, кто решил все же почитать дальше. </p>
                    <p>Я неединожды бывал в ситуациях когда матерые пишушие тимлиды и сеньоры опускали руки, а я находил решения потому что:</p>
                    <ul>
                        <li>на проблему нужно было взглянуть под другим углом</li>
                        <li>проблема решалась администрированием, а не программированием гораздо проще</li>
                        <li>проблема решалась деньгами гораздо быстрее и дешевле</li>
                        <li>проблемы вообще не было</li>
                        <li>проблемой был человеческий фактор - у разраба не было силы воли довести модуль до законченного состояния</li>
                    </ul>

                    <p>Я конечно знаю всякие аббревиатуры типа SOLID, KISS, DRY, YAGNI, умею в паттерны и все такое.</p>
                    <p>Но также я знаю, что если я напишу код со всеми наворотами, а потом окажется, что его будет поддерживать сообразительный джун - он возьмет и перепишет его полностью, потому что не поймет или лень разбираться.</p>
                    <p>Поэтому всегда надо думать о том, кто потом полезет в код.</p>
                    <p><strong>В общем, принцип такой:</strong></p>
                    <p><strong>Чем ближе то, что пишешь к библиотеке общего назначения с открытым исходным кодом (например, ядро фреймворка) - тем больше надо соответствовать принципам качественного кода</strong></p>
                    <p><strong>Чем ближе то, что пишешь к одноразовому скрипту - тем понятнее должен быть код. Любой джун должен в нем спокойно и быстро разобраться</strong></p>


                    <p>Отдельно скажу про тесты. Обязательно тестировать то, что не видишь - методы API, которые пользуют сервисы, которые не контролируешь. Я об интеграционном тестировании.</p>
                    <p>В остальных случаях надо взвешивать и выбирать - что дешевле, покрытие тестами или стоимость ошибки на продакшн. Бессмыслено писать тесты на кусок админки, которым пользуется 1 человек. И в тоже время глупо не покрыть тестами кусок кода, который вызывается на главной странице сайта раз в секунду и чаще.</p>
                    <p>И также можно добавить - тесты с максимальным покрытием действительно полезны, когда система разрабатывается крутой командой, потом крутая команда выкидывается на улицу, и набираются джуны для доработок и обслуживания. Правда жизни :)))</p>
                    <p><strong>25 февраля 2019 года</strong></p>
                </div><!-- /.blog-post -->

                <nav class="blog-pagination">
                    <a class="btn btn-outline-primary" href="{{ path('index') }}">На главную</a>
                </nav>

            </div><!-- /.blog-main -->

            <aside class="col-md-4 blog-sidebar">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="font-italic">Коротко</h4>
                    <p class="mb-0"><span class="badge badge-secondary">Удовлетворительно</span> - могу использовать с Гуглом.</p>
                    <p></p>
                    <p class="mb-0"><span class="badge badge-secondary">Хорошо</span> - могу использовать почти без Гугла, могу делать Code Review, могу проектировать архитектуру</p>
                    <p></p>
                    <p class="mb-0"><span class="badge badge-secondary">Отлично</span> - могу проходить собеседования :)))</p>
                    <p></p>
                    <hr>
                    <p class="mb-0"><span class="badge badge-secondary">PHP</span> - хорошо</p>
                    <p class="mb-0"><span class="badge badge-secondary">Golang</span> - удовлетворительно</p>
                    <p class="mb-0"><span class="badge badge-secondary">MySql</span> - хорошо</p>
                    <p class="mb-0"><span class="badge badge-secondary">Postgres</span> - хорошо</p>
                    <p class="mb-0"><span class="badge badge-secondary">Ubuntu</span> - удовлетворительно</p>
                    <p class="mb-0"><span class="badge badge-secondary">Mongo</span> - удовлетворительно</p>
                    <p class="mb-0"><span class="badge badge-secondary">Redis</span> - удовлетворительно</p>
                    <p class="mb-0"><span class="badge badge-secondary">Js (jquery&pure)</span> - удовлетворительно</p>
                    <p class="mb-0"><span class="badge badge-secondary">ReactJs</span> - удовлетворительно</p>
                    <p class="mb-0"><span class="badge badge-secondary">CSS</span> - удовлетворительно</p>
                    <p class="mb-0"><span class="badge badge-secondary">HTML</span> - удовлетворительно</p>
                    <p class="mb-0"><span class="badge badge-secondary">RabbitMq</span> - удовлетворительно</p>
                </div>
                {% include('widgets/' ~  app.request.locale  ~ '/gihub.html.twig') %}
            </aside><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </main><!-- /.container -->

{% endblock %}