{% extends "layout.html.twig" %}
{% block content %}

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">

                <div class="blog-post">
                    <h2 class="blog-post-title">История о том, как мне не сиделось на одном месте ровно</h2>
                    <p class="blog-post-meta">Январь 1, 2019</p>

                    <p>Никогда не угадаешь куда забросит тебя жизнь. Но мой опыт показывает, что у любого человека есть какое-то основное направление в котором он должен развиваться. И как бы он не пытался свернуть - жизнь все равно его вернет на истинный путь. Для меня это IT.</p>
                    <hr>
                    <p>В 16 лет я точно знал, что хочу заниматься наукой. Наверное, лучше бы занимался. Но это был 1991 год. И то, что происходило вокруг - никак не стимулировало к этим занятиям.</p>
                    <blockquote>
                        <p>Единственным некриминальным способом зарабатывать тогда было расти <strong>"вширь, а не вглубь".</strong> И несмотря на то, что я с третьего курса уже паял и программировал микроконтроллеры при кафедре за какую-то зарплату - дополнительно отучился в по специальности "Менеджмент".</p>
                        <p>Это привело меня на кирпичный завод начальником смены горно-формовочного цеха - мне было интересно поруководить (я одновременно учился в вузе). Могу точно сказать, что начальники, которые не прошли производство - слабо понимают, что значит руководить. Управлять могут - руководить не могут.</p>
                        <p>Завод быстро закрылся (такое было время), но я с удивлением узнал, что есть люди, которые тупо работать не хотят, а деньги получать хотят. А также получил бесценный опыт руководства уголовниками и бомжами.</p>
                    </blockquote>
                    <p>Каким-то случайным образом, я через центр занятости попал в директора типографии. Первую зарплату получил через год. Отлично усвоил навыки руководства женским коллективом :)</p>
                    <p>И это все одновременно с обучением в аспирантуре. К сожалению, научный руководитель исчез в неизвестном направлении и надо было или работать на кафедру и искать научника. В итоге аспирантура была отложена и я пошел зарабатывать деньги.</p>
                    <h2>А деньги тогда платили только ментам и другим таким же (и то, только пайковые)</h2>
                    <p>Ни в ОБЭП, ни в ГАИ меня не взяли :)))) Но взяли в информационный центр. Где я и изучил Delphi по одной огромной толстой книжке. Где и программировал 6 лет.</p>
                    <p>В общем, развиваться на госслужбе НЕВОЗМОЖНО. К сожалению, я это проецировал на все большие организации.</p>
                    <h3>И я решил, что от рутины меня спасет только собственный бизнес.</h3>
                    <p>6 лет я автоматизировал самые разные виды бизнеса. Магазины, оптовые базы, строительное производство, швейные цеха, редакции газет, гостиницы, рестораны, ночные клубы</p>
                    <pre><code>Я знаю как устроен практически любой оффлайн-бизнес</code></pre>
                    <p>К сожалению, продавец с меня посредственный, а на продажника никак денег не зарабатывалось. Поэтому 6 лет я был одной из небольших фирмочек по автоматизации со штатом в 3-4 человека без какого-либо развития.</p>
                    <p>Но у нас были вполне достойные клиенты (которые правда душили нас по ценам). И наша маленькая команда тянула большие региональные проекты. Среди клиентов были Mars, Nestle, Балтика.</p>
                    <p>Это все происходило на Кавказе. Клиенты с Грозного в Чечне были не редкостью. Однажды даже русские торговые представители компании Марс вывозили меня лежа на заднем сиденьи из города, потому что хозяин оптовой базы пообещал меня пристрелить :)</p>
                    <h3>И тут пришел БОЛЬШОЙ интернет</h3>
                    <p>Первое, что произошло в 2009 году - все мои сотрудники оптом свалили в Москву за большими зарплатами - разница была в три раза.</p>
                    <p>Все попытки найти новых сотрудников выглядели так - за 3-4 месяца стажер набирается хоть чуть опыта и уезжает в Москву. С третьей попытки я забросил это дело и начал думать, что делать дальше.</p>
                    <p>Через интернет я познакомился с владельцем одной московской фирмы, у которого были идеи, похожие на мои.</p>
                    <h3>Проект, который должен был покорить мир :)))</h3>
                    <p>Это был рассвет группоноподобных сайтов. И мы думали, что можно делать скидки на туры, если собрать много людей в группу. Мы сделали сайт, провели переговоры с 20 авиакомпаниями. Пытались интегрироваться с сайтами совместных покупок.</p>
                    <p>Но получить вожделенные скидки нам никак не получалось. Через год мы остановили проект, потому что стало понятно, что что-то мы делаем не так. Для того, чтобы понять, что не так - я пошел работать в одного из крупнейших туроператоров простым программистом. И тут я впервые для себя понял, что в больших организациях, где люди работают на совместный результат, а не исключительно по инстркуции ...</p>
                    <h3>...РАЗВИВАТЬСЯ МОЖНО И НУЖНО!</h3>
                    <p>Я быстро понял, в чем мы ошибались. Но причины были глобальны и с этим ничего сделать было нельзя. Плюс, я взялся за большой проект сервиса по продаже авиабилетов, который успешно запустил в коммерческую эксплуатацию. Это произвело впечатление на руководство. И тут удачно ушел в собственный бизнес руководитель отдела WEB-разработки и мне предложили занять его должность.</p>
                    <p>За три года основной сайт был переведен на на Symfony, запущено 4 глобальных внутрених проекта, расширена команда с 5 до 12 человек (с периодическим привлечением удаленных разработчиков до 21). Сайт стал самым посещаемым туроператорским сайтом в России со значительным отрывом.</p>
                    <p>Под моим руководством работали одновременно отдел WEB-разработки, отдел E-Commerce, Content-отдел, отдел информационной поддержки туристов за рубежом.</p>
                    <p>Это была очень позитивная и плодотворная работа, которая была по достоинству оценена не только руководством компании, но и ее партнерами.</p>
                    <p>К сожалению, по личным причинам (никак не связанным с работой) я уволился оттуда в конце 2014 года.</p>
                    <h3>Эффективно фрилансить можно только после опыта работы в офисе с отлаженными процессами</h3>
                    <p>Либо если тимлид умеет управлять удаленными командами. Это гораздо труднее для руководителя. По душам не поговоришь особо, в наказаниях сильно ограничен, влияние коллектива минимально. Но это возможно.</p>
                    <p>По личным причинам мне пришлось полтора года работать дома. Работал с греками, белорусами и с российскими заказчиками. На жизнь хватало, но не настолько чтобы тратить 3-5 часов на работу. Приходилось вкалывать.</p>
                    <p>В ноябре 2017 года мое заточение закончилось и я начал искать работу с нормальным заработком</p>
                    <p>Быстро нашел работу PHP-программистом в Москве. В одиночку сделал бекэенд для управления и сбора статистики с пары десятков тысяч сайтов. Потом через знакомых поступило предложение на очень хорошую зарплату наладить работу интернет-магазина.</p>
                    <p>За полгода успешно отладил все процессы, переделал сайт на фреймворк с CMS, перевел в облака бухгалтеров.</p>
                    <p>По личным причинам временно ушел на удаленку с значительным уменьшением оклада. Моего возвращения не ждали. Я не в обиде - там действительно вполне может справляться продвинутый студент.</p>
                    <p><strong>Я опять в поиске...</strong></p>
                    <p><strong>25 февраля 2019 года</strong></p>
                </div><!-- /.blog-post -->

                <nav class="blog-pagination">
                    <a class="btn btn-outline-primary" href="{{ path('my_portfolio_index') }}">На главную</a>
                </nav>

            </div><!-- /.blog-main -->

            <aside class="col-md-4 blog-sidebar">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="font-italic">Коротко</h4>
                    <p class="mb-0">Перепробовал много чего, но в том или ином виде в IT с 1993 года.</p>
                    <p></p>
                    <p class="mb-0"><span class="badge badge-secondary">1993 - 1996</span> Программировал микроконтроллеры в научно-производственном предприятии при кафедре в вузе</p>
                    <p class="mb-0"><span class="badge badge-secondary">1994 - 1995</span> Руководил цехом на кирпичном заводе</p>
                    <p class="mb-0"><span class="badge badge-secondary">1996 - 1997</span> Руководил ведомственной типографией</p>
                    <p class="mb-0"><span class="badge badge-secondary">1997 - 2004</span> Работал от программиста до руководителя подразделения в информационном центре ГУВД Ростовской области</p>
                    <p class="mb-0"><span class="badge badge-secondary">2004 - 2010</span> Собственный бизнес по автоматизации всего - от магазинов, до издательств и оконных заводов</p>
                    <p class="mb-0"><span class="badge badge-secondary">2010 - 2011</span> Кофаундер в проекте аля Grupon в туризме</p>
                    <p class="mb-0"><span class="badge badge-secondary">2011 - 2015</span> От программиста до зам.директора по web-разработке и e-commerce в крупнейшем туроператоре России и СНГ</p>
                    <p class="mb-0"><span class="badge badge-secondary">2015 - 2016</span> Фриланс</p>
                    <p class="mb-0"><span class="badge badge-secondary">2017 - 2017</span> PHP backend-программист в компании по SEO-продвижению</p>
                    <p class="mb-0"><span class="badge badge-secondary">2017 - 2019</span> Технический директор мебельного магазина</p>
                </div>

                <div class="p-4">
                    <h4 class="font-italic">Другие ресурсы</h4>
                    <ol class="list-unstyled">
                        <li><a href="https://github.com/microbusiness">GitHub</a></li>
                    </ol>
                </div>
            </aside><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </main><!-- /.container -->

{% endblock %}

