{% extends "layout.html.twig" %}
{% block content %}

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">

                <div class="blog-post">
                    <h2 class="blog-post-title">Трудно писать о себе</h2>
                    <p class="blog-post-meta">{{ "now"|date("d.m.Y") }}</p>

                    <p>Большинство в 16 лет хотят стать известными артистами, политикам, бизнесменами, учеными. В 25 - крутыми профи, руководителями в своей области. В 30 - тупо хочется бабла. В 40 - просто спокойной жизни.</p>
                    <p>Это не про меня! Просто я уже знаю пределы своих возможностей.</p>
                    <hr>
                    <p>Я верю, что для каждого человека есть некоторые испытания, которые он должен пройти, а также цели - которых он должен достичь. И жизнь сама направит человека туда, где он реализуется максимально полно.</p>
                    <p>Что это значит простыми словами?</p>
                    <p>Это значит, что не надо искать неприятностей, но никогда не надо избегать трудностей.</p>
                    <p>Искать достойные жизненные цели, но отбрасывать те, к которым будешь стремиться только при каких-то условиях (деньги, власть, слава).</p>
                    <p>При этом надо понимать, что действительно достойных целей достичь в одиночку практически невозможно. Поэтому надо ценить возможность иметь позитивных коллег, нацеленных на результат.</p>
                    <p><strong>И при этом всегда оставаться человеком</strong></p>
                    <p><strong>{{ "now"|date("d.m.Y") }}</strong></p>
                </div><!-- /.blog-post -->

                <nav class="blog-pagination">
                    <a class="btn btn-outline-primary" href="{{ path('index') }}">На главную</a>
                </nav>

            </div><!-- /.blog-main -->

            <aside class="col-md-4 blog-sidebar">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="font-italic">Коротко</h4>
                    <p class="mb-0">Нет плохих и хороших людей, дел, поступков - есть отсутствие баланса.</p>
                    <p></p>
                    <p class="mb-0"><span class="badge badge-secondary">О себе</span> Авантюрист-интеллектуал, умудренный опытом и поэтому безопасный для окружающих.</p>
                    <p class="mb-0"><span class="badge badge-secondary">О семье</span> Семья - это половина меня. Не больше, но и не меньше.</p>
                    <p class="mb-0"><span class="badge badge-secondary">О друзьях</span> Друзья проверяются в беде, а так как бед у меня в жизни было немного - то и друзей немного.</p>
                    <p class="mb-0"><span class="badge badge-secondary">О работе</span> Любую работу можно сделать интересной примерно за 40 минут</p>
                    <p class="mb-0"><span class="badge badge-secondary">О политике</span> Уважающий себя человек будет заниматься делом, а не трепаться о вещах, которые он изменить не может. К футболу это тоже относится.</p>
                    <p class="mb-0"><span class="badge badge-secondary">О счастье</span> Счастье - это не цель. Это показатель сбалансированности души.</p>
                </div>
                {% include('widgets/' ~  app.request.locale  ~ '/gihub.html.twig') %}
            </aside><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </main><!-- /.container -->

{% endblock %}