{% extends "layout.html.twig" %}
{% block content %}

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">

                <div class="blog-post">
                    <h2 class="blog-post-title">Как жить если проект не потянешь в одно лицо</h2>
                    <p>Здесь речь пойдет о методиках и инструментах, которые позволяют реализовывать действительно большие проекты. Не претендую на истину в последней инстанции - только проверенные лично практики, подходящие мне.</p>
                    <hr>
                    <p>Чем владею в той или иной степени:</p>
                    <ul><span style="font-weight: bold;">Классика</span>
                        <li>PMBOK (учился по ютубу - применяю для оценки сложности и стоимости еще не начатого проекта, делаю паспорт проекта, оцениваю риски).</li>
                    </ul>
                    <ul><span style="font-weight: bold;">Agile</span>
                        <li>SCRAM - отлично идет если команда состоит из одних сеньоров, product owner с энтузиазмом относится к проекту, тимлид играет роль SCRAM мастера, а не самого опытного разраба. Основная цель - чтобы синьоры не заигрывались в технологии, а выдавали продукт. Минусы - сложно организовать обучение и наставничество, на марафонском забеге могут сдохнуть слабые и команда будет иметь проблемы на финише. Умею, но не люблю.</li>
                        <li>KANBAN - мое любимое. В backlog без особого интереса копошиться product owner, расставляет приоритеты. Сразу видно, когда его пинать. После оценки стоимости выполнения тимлидом (сроки, доп.инструменты и рабочая сила) - формируем спринт. Да, да спринт. Чистый канбан не дает команде "волшебных пендалей" когда надо собраться силами и выдать "на гора" перед релизом мажорной версии несколько больше, чем обычно. Внутри спринта задачи проходят по этапам - проектирование дизайна и архитектуры, дизайн, верстка, кодинг, code review, тестирование (ненужное выкинуть). Начало спринта  - в понедельник, конец  - в четверг через неделю. Пятница запасная. В пятницу вечером ретроспектива. Ежедневные "пятиминутки" не практикуются. Ежедневные коммиты, тимлид следит за кодом постоянно и вмешивается при необходимости. Это моя интерпретация kanban.</li>
                        <li>Модификация KANBAN для удаленных сотрудников без таймтреккинга - все тоже самое, но... пятиминутки утром и вечером В ОБЯЗАТЕЛЬНОМ ПОРЯДКЕ, code review делать каждый день (а не когда модуль готов), спринты могут быть разной длительности и не привязаны к выходным, ретроспектива отдельно с каждым сотрудником - работал по таким принципам несколько лет и очень редко команды не вписывались в сроки. Огромный плюс - легко управлять разгильдяйством разрабов и выгоранием команды. Минус - нужен сильный тимлид.</li>
                    </ul>

                    <p>Про инструменты групповой разработки.</p>
                    <p>GIT - workflow без pull request. Под каждую отдельную задачу - своя ветка. Тимлид мержит в test вручную. В master только после прогона тестов на stage. В production - по кнопке после получения подтверждения руководства (письменного)</p>
                    <p>Треккинг - знаком с Jira, как пользователь. Отлично знаю и могу поднять с нуля учет на RedMine, но не люблю. А люблю YouTrack - kanban там отлично реализован.</p>
                    <p>Имел опыт с системой управления инцедентами Kayako -  тот же треккинг, но для пользователей не являющихся, сотрудниками.</p>

                    <p>Deployment и CI</p>
                    <p>Могу завести и заадминить Capistrano и Jenkins</p>

                    <p><strong>25 февраля 2019 года</strong></p>
                </div><!-- /.blog-post -->

                <nav class="blog-pagination">
                    <a class="btn btn-outline-primary" href="{{ path('index') }}">На главную</a>
                </nav>

            </div><!-- /.blog-main -->

            <aside class="col-md-4 blog-sidebar">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="font-italic">Коротко</h4>
                    <p class="mb-0">Под разных руководителей и разные команды нужны разные методики и инструменты.</p>
                    <p></p>
                    <hr>
                    <p class="mb-0">
                        <span class="badge badge-secondary">PMBOK</span>
                        <span class="badge badge-secondary">SCRAM</span>
                        <span class="badge badge-secondary">KANBAN</span>
                        <span class="badge badge-secondary">REMOTE KANBAN</span>
                        <span class="badge badge-secondary">GIT</span>
                        <span class="badge badge-secondary">JIRA</span>
                        <span class="badge badge-secondary">RedMine</span>
                        <span class="badge badge-secondary">YouTrack</span>
                        <span class="badge badge-secondary">Kayako</span>
                        <span class="badge badge-secondary">Capistrano</span>
                        <span class="badge badge-secondary">Jenkins</span>
                    </p>
                </div>
                {% include('widgets/' ~  app.request.locale  ~ '/gihub.html.twig') %}
            </aside><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </main><!-- /.container -->

{% endblock %}

