{% extends "base.html.twig" %}

{% block title 'Резюме-портфолио' %}

{% block body %}
    <div class="container">
        {% include "menu.html.twig" %}
        {% block content %} {% endblock %}
    </div>
    <footer class="blog-footer">

        <p>

        </p>
    </footer>
{% endblock %}
